<a href="https://colab.research.google.com/github/abdulzain6/Datascience/blob/main/Assignment%204%20new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("netflix_data.csv")
df

     show_id  ...             genre
0         s1  ...  International TV
1         s2  ...            Dramas
2         s3  ...     Horror Movies
3         s4  ...            Action
4         s5  ...            Dramas
...      ...  ...               ...
7782   s7783  ...            Dramas
7783   s7784  ...            Dramas
7784   s7785  ...     Documentaries
7785   s7786  ...  International TV
7786   s7787  ...     Documentaries

[7787 rows x 11 columns]

In [5]:
def split_comma(data):
  data = str(data)
  if data == "nan":
    return 0
  return len(data.split(","))

In [6]:
df["num_of_cast"] = df["cast"].apply(split_comma)

In [7]:
df

     show_id     type  ...             genre num_of_cast
0         s1  TV Show  ...  International TV          11
1         s2    Movie  ...            Dramas           6
2         s3    Movie  ...     Horror Movies           9
3         s4    Movie  ...            Action           9
4         s5    Movie  ...            Dramas          12
...      ...      ...  ...               ...         ...
7782   s7783    Movie  ...            Dramas           7
7783   s7784    Movie  ...            Dramas           8
7784   s7785    Movie  ...     Documentaries           1
7785   s7786  TV Show  ...  International TV           2
7786   s7787    Movie  ...     Documentaries           0

[7787 rows x 12 columns]

In [8]:
df.groupby("type")["genre"].value_counts()

type     genre
Movie    Dramas                  1384
         Comedies                1074
         Documentaries            751
         Action                   721
         Children                 502
         Stand-Up                 321
         Horror Movies            244
         International Movies     114
         Classic Movies            77
         Uncategorized             56
         Thrillers                 49
         Independent Movies        20
         Anime Features            19
         Music                     17
         Cult Movies               12
         Sci-Fi                    11
         Romantic Movies            3
         LGBTQ Movies               1
         Sports Movies              1
TV Show  International TV         690
         Crime TV                 369
         Kids                     359
         British TV               232
         Docuseries               194
         Anime Series             148
         TV Comedies              110
         Reality TV               102
         TV Dramas                 62
         TV Action                 37
         Stand-Up                  33
         Romantic TV               28
         Classic                   21
         TV Shows                  12
         TV Horror                 10
         Spanish-Language           2
         TV Sci                     1
Name: genre, dtype: int64